HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignorar el directorio local oculto que contiene los binarios pesados (Providers)
**/.terraform/

# Ignorar archivos de estado local (¡Súper importante por seguridad!)
*.tfstate
*.tfstate.backup

# Ignorar archivos de variables con credenciales sensibles (ej. tu MongoDB)
*.tfvars
*.tfvars.json

# Ignorar planes de ejecución guardados
*.tfplan